/* *** *** *** *** *** */
/* Large grid box  *** */
/* *** *** *** *** *** */

.grid-dot-lg {
    background-color: rgb(230, 241, 252);
    width: 5px;
    height: 5px;
}

.grid-bp-border-lg {
    width: 60px;
    height: 5px;
    background-color: rgb(230, 241, 252);
}

.grid-bp-lg {
    /* bottom part, main container */
    width: 60px;
    height: 5px;
    display: flex;
    flex-direction: row;
}

.grid-tp-border-lg {
    /* right wall */
    width: 5px;
    height: 60px;
    background-color: rgb(230, 241, 252);
}

.grid-tp-box-lg {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-tp-lg {
    width: 60px;
    height: 55px;
    display: flex;
}

/* *** *** *** *** *** */
/* Medium grid box *** */
/* *** *** *** *** *** */

.grid-dot-med {
    background-color: rgb(230, 241, 252);
    width: 4px;
    height: 4px;
}

.grid-bp-border-med {
    width: 40px;
    height: 4px;
    background-color: rgb(230, 241, 252);
}

.grid-bp-med {
    /* bottom part, main container */
    width: 40px;
    height: 4px;
    display: flex;
    flex-direction: row;
}

.grid-tp-border-med {
    /* right wall */
    width: 4px;
    height: 40px;
    background-color: rgb(230, 241, 252);
}

.grid-tp-box-med {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-tp-med {
    width: 40px;
    height: 36px;
    display: flex;
}

/* *** *** *** *** *** */
/* Small grid box  *** */
/* *** *** *** *** *** */

/* *** *** *** *** */
/* Dropdown code */
/* *** *** *** *** */

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content button {
    text-align: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

/* *** *** *** *** *** */
/* Dropdown code, end */
/* *** *** *** *** *** */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

@font-face {
    font-family: "QuicksandLight";
    src: url("./FONTS/Quicksand-Light.ttf");
}

@font-face {
    font-family: "QuicksandBold";
    src: url("./FONTS/Quicksand-Bold.ttf");
}

@font-face {
    font-family: "QuicksandRegular";
    src: url("./FONTS/Quicksand-Regular.ttf");
}

h1 {
    font-family: "QuicksandRegular";
    font-size: 22px;
    color: rgb(0, 129, 255);
}

#board {
    width: 100%;
    position: relative;
}

#btnContainer {
    width: 90%;
    z-index: 0;
    position: absolute;
    top: 20px;
    left: 40px;
    /* border: 2px solid red; */
}

#buttons {
    padding: 13px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

#gradient {
    width: 100%;
    height: 50px;
    background: linear-gradient(rgb(238, 245, 253), white);
    opacity: 0.8;
}

#main {
    display: flex;
}

#headlineContainer {
    display: flex;
}

#leftBorder {
    border-left: 1px solid #ddd;
}

#legendContainer {
    width: 380px;
    height: 100vh;
    float: left;
}

#singleLink {
    color: black;
    text-decoration: none;
}

.animateScan {
    background-color: rgb(254, 134, 254);
    animation-name: scan;
    animation-duration: 3s;
}

@keyframes scan {
    0% {
        background-color: rgb(92, 150, 249);
    }
    100% {
        background-color: rgb(254, 134, 254);
    }
}

.animatePath {
    background-color: rgb(249, 181, 92);
    animation-name: path;
    animation-duration: 1.9s;
}

@keyframes path {
    0% {
        background-color: rgb(254, 134, 254);
    }
    100% {
        background-color: rgb(249, 181, 92);
    }
}

.button {
    background-color: white;
    border: white;
}

.button:focus {
    outline: none;
}

.button:hover {
    background-color: rgb(231, 231, 231);
}

.buttonDiv {
    width: fit-content;
    margin: 0 10px;
}

.imgContainer {
    width: 60px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.legendLineContainer {
    width: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.legendText {
    font-family: "QuicksandRegular";
    font-size: 16px;
    font-weight: bold;
}

.wallNode {
    background-color: rgb(249, 113, 92);
}

.spacer {
    width: 40px;
}
