/* *** *** *** *** *** */
/* Same across all grids */
/* *** *** *** *** *** */

.grid-dot {
    background-color: rgb(230, 241, 252);
    /* background-color: black; */
    width: 5px;
    height: 5px;
}

/* *** *** *** *** *** */
/* Large grid box  *** */
/* *** *** *** *** *** */

.grid-bp-border-lg {
    width: 70px;
    height: 5px;
    background-color: rgb(230, 241, 252);
    /* background-color: black; */
}

.grid-bp-lg {
    /* bottom part, main container */
    width: 70px;
    height: 5px;
    display: flex;
    flex-direction: row;
}

.grid-tp-border-lg {
    /* right wall */
    width: 5px;
    height: 70px;
    background-color: rgb(230, 241, 252);
    /* background-color: black; */
}

.grid-tp-box-lg {
    width: 65px;
    height: 65px;
    /* background-color: black; */
}

.grid-tp-lg {
    width: 70px;
    height: 65px;
    /* border: 1px solid pink; */
    display: flex;
}

/* *** *** *** *** *** */
/* Medium grid box *** */
/* *** *** *** *** *** */

/* *** *** *** *** *** */
/* Small grid box  *** */
/* *** *** *** *** *** */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

@font-face {
    font-family: "QuicksandLight";
    src: url("./FONTS/Quicksand-Light.ttf");
}

@font-face {
    font-family: "QuicksandBold";
    src: url("./FONTS/Quicksand-Bold.ttf");
}

@font-face {
    font-family: "QuicksandRegular";
    src: url("./FONTS/Quicksand-Regular.ttf");
}

h1 {
    font-family: "QuicksandRegular";
    font-size: 22px;
    color: rgb(0, 129, 255);
}

#board {
    width: 100%;
    position: relative;
}

#btnContainer {
    width: 90%;
    z-index: 0;
    position: absolute;
    top: 20px;
    left: 40px;
    /* border: 2px solid red; */
}

#buttons {
    border-radius: 20px;
    border: 2px solid black;
}

#gradient {
    width: 100%;
    height: 50px;
    background: linear-gradient(rgb(238, 245, 253), white);
    opacity: 0.8;
}

#main {
    display: flex;
}

#headlineContainer {
    display: flex;
}

#leftBorder {
    border-left: 1px solid #ddd;
}

#legendContainer {
    width: 340px;
    height: 100vh;
    float: left;
}

.imgContainer {
    width: 60px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.legendLineContainer {
    width: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.legendText {
    font-family: "QuicksandRegular";
    font-size: 16px;
    font-weight: bold;
}

.test {
    background-color: rgb(249, 113, 92);
}

.spacer {
    width: 40px;
}
