span {
	font-family: "Lucida Console", Courier, monospace;
	font-size: 18px;
}

#buttons {
	background: #DDD;
	margin: 10px;
	padding: 10px;
}

#buttons button {
	padding: 4px 12px;
}

#jumbotron {
	width: 100%;
	padding: 30px;
	display: flex;
	justify-content: center;
}

#legend {
	/* border: 3px solid red; */
	background: #DDD;
	margin: 10px;
	padding: 10px;
}

#main {
	display: flex;
}

#main div {
	height: 20px;
	width: 20px;
}

#main div div {
	font-family: "Lucida Console", Courier, monospace;
	font-size: 18px;
}

.container {
	width: 100%;
	border: 3px solid blue;
	/* text-align: center; */
}

.button.green, .button.red, .button.blue {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
  
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}

/* */

.button.green{
  background-color: #57a957;
  border-color: #57a957;
}

.button.green:hover{
  background-color: #62c462;
}

.button.green:active{
  background: #57a957;
}

/* */

.button.red{
  background-color: #ca3535;
  border-color: #c43c35;
}

.button.red:hover{
  background-color: #ee5f5b;
}

.button.red:active{
  background: #c43c35;
}

/* */

.button.blue{
  background-color: #269CE9;
  border-color: #269CE9;
}

.button.blue:hover{
  background-color: #70B9E8;
}

.button.blue:active{
  background: #269CE9;
}

/* */